(function() {
  var prefetchConfig = {{{prefetchConfig}}};
  function getResType(extension) {
    if (prefetchConfig && prefetchConfig.resourceTypes) {
      for (var key in prefetchConfig.resourceTypes) {
        if (prefetchConfig.resourceTypes[key].indexOf(extension) !== -1) {
          return key;
        }
      }
    }
    return null;
  }

  function appendLink(href, as) {
    var res = document.createElement('link');
    res.rel = 'prefetch';
    if (as) { res.as = as; }
    if (prefetchConfig && prefetchConfig.crossorigin) {
      res.setAttribute('crossorigin', '');
    }
    res.href = href;
    document.head.appendChild(res);
  }

  function globToRegex(glob) {
    var pattern = glob
      .replace(/\./g, '\\.')
      .replace(/\?/g, '.')
      .replace(/\*\*\//g, '___DOUBLESTAR_SLASH___')
      .replace(/\/\*\*/g, '___SLASH_DOUBLESTAR___')
      .replace(/\*\*/g, '___DOUBLESTAR___')
      .replace(/\*/g, '[^/]*');
    
    pattern = pattern
      .replace(/___DOUBLESTAR_SLASH___/g, '(.*/)?')
      .replace(/___SLASH_DOUBLESTAR___/g, '(/.*)?')
      .replace(/___DOUBLESTAR___/g, '.*');
    
    return new RegExp('^' + pattern + '$');
  }

  function matchesGlob(filePath, globs) {
    if (!Array.isArray(globs) || globs.length === 0) {
      return false;
    }
    
    for (var i = 0; i < globs.length; i++) {
      var pattern = globs[i];
      var isNegation = pattern.charAt(0) === '!';
      var actualPattern = isNegation ? pattern.slice(1) : pattern;
      var regex = globToRegex(actualPattern);
      var matches = regex.test(filePath);
      
      if (isNegation && matches) {
        return false;
      }
      if (!isNegation && matches) {
        return true;
      }
    }
    
    return false;
  }

  function addLocalizationFile(locPattern) {
    if (dynamicContentFiles.includes(locPattern)) {
      resList.push(locPattern);
      return true;
    }
    return false;
  }

  var resList = {{{resourceArray}}};
  var staticsFullPath = '{{{staticsFullPath}}}';
  var staticsFullPathKey = 'STATICS_FULL_PATH';
  // for testing
  if (staticsFullPath === `{${staticsFullPathKey}}`) { staticsFullPath = '.'; }

  var dynamicContentPath = '{DYNAMIC_CONTENT_PATH}';
  var dynamicContentPathKey = 'DYNAMIC_CONTENT_PATH';

  var dynamicContentFiles = '{DYNAMIC_CONTENT_FILES}';
  var dynamicContentFilesKey = 'DYNAMIC_CONTENT_FILES';

  var hasDynamicContent = (dynamicContentPath !== `{${dynamicContentPathKey}}`) && (dynamicContentFiles !== `{${dynamicContentFilesKey}}`);

  if (hasDynamicContent) {
    try {
      dynamicContentFiles = JSON.parse(dynamicContentFiles);
    } catch (e) {
      console.error(`Could not parse dynamic content files: '${dynamicContentFiles}'`);
    }
  }

  var language = '{LANG}';
  var languageKey = 'LANG';
  if (language !== `{${languageKey}}` && /^([a-z]{2,3})(-([A-Z]{2}|[A-Za-z]{4,5}))?$/.test(language)) {
    if (hasDynamicContent && dynamicContentFiles) {
      if (dynamicContentFiles.includes(`{{{localizationPattern}}}`)) {
        resList.push(`{{{localizationPattern}}}`);
      } else if (prefetchConfig.fallbackLocalesMap) {
        var fallback = false;
        var inputLanguage = language;
        if (prefetchConfig.fallbackLocalesMap[inputLanguage]) {
          language = prefetchConfig.fallbackLocalesMap[inputLanguage];
          fallback = addLocalizationFile(`{{{localizationPattern}}}`);
        }
        if (!fallback && inputLanguage.includes('-')) {
          language = inputLanguage.split('-')[0];
          if (prefetchConfig.fallbackLocalesMap[language]) {
            language = prefetchConfig.fallbackLocalesMap[language];
            fallback = addLocalizationFile(`{{{localizationPattern}}}`);
          }
        }
        if (!fallback && prefetchConfig.fallbackLocalesMap['*']) {
          language = prefetchConfig.fallbackLocalesMap['*'];
          fallback = addLocalizationFile(`{{{localizationPattern}}}`);
        }
        if (!fallback) {
          console.warn('Language, fallback language, and default language not found in dynamic content files.')
        }
      } else {
        console.warn('Language not found in dynamic content files.')
      }
    } else {
      resList.push(`/{{{localizationPattern}}}`);
    }
  }

  if (hasDynamicContent && dynamicContentFiles && prefetchConfig.dynamicContentGlobs && prefetchConfig.dynamicContentGlobs.length > 0) {
    var processedFiles = {};
    
    resList.forEach(function(resource) {
      if (typeof resource === 'string') {
        processedFiles[resource.replace(/^\/+/, '')] = true;
      }
    });
    
    for (var globIndex = 0; globIndex < prefetchConfig.dynamicContentGlobs.length; globIndex++) {
      var globPattern = prefetchConfig.dynamicContentGlobs[globIndex];
      
      for (var fileIndex = 0; fileIndex < dynamicContentFiles.length; fileIndex++) {
        var file = dynamicContentFiles[fileIndex];
        
        if (!processedFiles[file] && matchesGlob(file, [globPattern])) {
          resList.push('/' + file);
          processedFiles[file] = true;
        }
      }
    }
  }

  resList.forEach(function(resource) {
    if (typeof resource === 'string') {
      var fullPath = staticsFullPath;
      if (hasDynamicContent && dynamicContentFiles.includes(resource.replace(/^\/+/, ''))) {
        fullPath = dynamicContentPath + '/';
      }
      var splitRes = resource.split('.');
      var extension = splitRes[splitRes.length - 1];
      appendLink(fullPath + resource, getResType(extension));
    }
  });
})();
