name: Build and test

on:
  push:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: '22'
      - name: Cache dependencies
        uses: actions/cache@v5
        env:
          cache-name: cache-yarn-dependencies
        with:
          path: .yarn/cache
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-
      - name: Install
        run: yarn --immutable
      - name: Build
        run: yarn build
      - name: Unit Tests
        run: yarn test
      - name: Lint
        run: yarn lint
      - name: Install, build and start demo app
        run: |
          cd examples/my-ngsw-app
          npm ci
          npm run start:prod:ci
      - name: End to End tests
        run: |
          cd examples/my-ngsw-app
          npx playwright install chromium
          npm run test:e2e
